* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', 'sans-serif';
}

.bold {
    font-weight: 600;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(235, 235, 235);
}

form {
    width: 20%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 40px;
    gap: 10px;

    >input {
        padding: 10px;
        border-radius: 10px;
    }
}

input[type=text] {
    text-align: center;
    font-size: 24px;
}

input[type=submit] {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: seashell;

    &:hover {
        background-color: blanchedalmond;
    }
}

.card {
    width: 400px;
    height: 600px;
    background-color: lightblue;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 10px black;
    position: relative;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 2ms ease-in-out;
}

#city-name {
    text-align: center;
}

.card-error {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;

    span {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.temperature {
    font-size: 48px;
}

.humidity {
    font-weight: 600;
    font-size: 24px;
}

#city-name {
    font-size: 64px;
    display: flex;
    justify-content: center;
    line-height: 50px;
}

.sunset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 15px;
    text-wrap: balance;
    text-align: center;
}

.emoji-weather {
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.night {
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.40) 100%), url('./assets/img/night-sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    transition: all 2ms ease-in-out;
    box-shadow: 0 0 5px white;
}

.day {
    background-image:
    linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.40) 100%), url('./assets/img/heaven.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    transition: all 2ms ease-in-out;
    text-shadow: 1px 1px 2px black;
}

.day-container {
    background-image: linear-gradient(to bottom, #8793eb, #ffffff);
}

.night-container {
    background-image: linear-gradient(to bottom, #1A1A40, #000000);
}

